services:
  backend:
    build: ./backend
    container_name: minimarket_backend
    env_file: .env
    working_dir: /usr/src/app
    command: npm run dev
    ports:
      - "${BACKEND_PORT:-3001}:3000"
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build: ./frontend
    container_name: minimarket_frontend
    env_file: .env
    working_dir: /usr/src/app
    command: npm run dev -- --host 0.0.0.0 --port 5173
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules

  db:
    image: postgres:16
    container_name: minimarket_db
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: minimarket_pgadmin
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "8081:80"

volumes:
  db_data:
